* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    height: 100%;        /* Make html and body take full height */
    margin: 0;          /* Remove default margin */
    padding: 0;         /* Remove default padding */
    overflow: hidden
}

div.app-body {
    line-height: 1.4;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    height: 100%;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

body #root {
    height: 100%;
    line-height: 1.4;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    height: 100%;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}
