header.header div button,
body div.main div.article form button.change-collection {
    display: inline-block; /* Make the link inline-block to apply padding and margins */
    padding: 0.75rem 1.5rem; /* Add padding inside the button */
    font-size: 1rem; /* Set the font size */
    font-weight: bold; /* Bold text for emphasis */
    background-color: white; /* Blue background color */
    border: none; /* Remove the default border */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center; /* Center the text inside the button */
    text-decoration: none; /* Remove underline from the link */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition effects */
    cursor: pointer; /* Pointer cursor on hover */
    margin: 10px 10px 20px 10px;
}
header.header div.doc_handler button {
    font-size: 0.7rem;
    margin: 10px;
}

header.header div button.change-collection:hover,
header.header div button.see-shared:hover,
body div.main div.article form button.change-collection:hover {
    background-color: rgb(182, 173, 173); /* Darker blue on hover */
    transform: scale(1.05); /* Slightly scale up the button on hover */
}

header.header div button.change-collection:active,
header.header div button.see-shared:active,
body div.main div.article form button.change-collection:active {
    background-color: rgb(182, 173, 173); /* Even darker blue on active (click) */
    transform: scale(0.95); /* Slightly scale down the button on click */
}

body div.main div.article form button.btn.btn-primary.change-collection {
    margin: 0;
    padding: 10px;
    color: #28a745;
    justify-self: end;
}

#root .auth-button .auth {
    background-color: #d8dadd; /* Even darker blue on active (click) */
    transform: scale(0.95);
    border: none; /* Remove the default border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 10px 20px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center; /* Center the text inside the button */
    text-decoration: none; /* Remove underline from the link */
    transition: background-color 0.5s ease, transform 0.5s ease; /* Smooth transition effects */
    cursor: pointer; /* Pointer cursor on hover */
    margin: 10px 0 20px 0;
    font-size: 1.5em;
    color: red;
}

body #root .auth-button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
    justify-content: space-between;
    margin: 9em 17em;
}

.submit-btn,
body #root .return-btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover,
body #root .return-btn:hover {
    background-color: #c82333;
}