<%- include('includes/header'); %>

<!-- If there is a document, show its title and make it a clickable link to the doc-->

    <h2>Loga in</h2>
    <form method="POST" action="" class="new-doc">
        <input type="hidden" name="id" value="">
        <label for="user_name">Enter user name</label>
        <input type="email" name="user_name" value="" placeholder="Enter your user name" />
    
        <label for="password">password</label>
        <input type="test" name="password" value="" placeholder="Enter password"/>
    
        <input type="submit" value="Uppdatera" />
    </form>   

<%- include('includes/footer'); %>
