@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    line-height: 1.4;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

h3 {
    font-size: 1.4rem;
    /* margin-bottom: 1.4rem; */
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

header {
    background-color: #0074D9;
    color: #fff;
    padding: 1.4rem 3rem;
}

main {
    width: 96%;
    max-width: 64rem;
    margin: 1.4rem auto;
    flex: 1 0 auto;
}

.new-doc {
    display: flex;
    flex-direction: column;
}

main form.document input {
    margin-bottom: 0.4rem;
    font-size: 1em;
    padding: 0.6rem 1.4rem;
}

textarea {
    margin-bottom: 1.4em;
    font-size: 1.2em;
    padding: 1.4em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1.4em 8em;
    flex-shrink: 0;
}

main div.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 10px;
}
  
main .container .doc {
    background: #f4f4f4;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    height: 180px;
}

main .container .doc a {
    font-size: 0.7em;
}

main form.document {
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-rows: 60px 1fr;
    height: 100%;
}

main form .title {
    border-top: none;      /* Remove the top border */
    border-right: none;    /* Remove the right border */
    border-bottom: 2px solid #000; /* Keep a visible bottom border */
    border-left: none;   
    grid-column: 1;
    grid-row: 1;
    margin: 0 80px;
}

main form .doc-content {
    border: none;
    grid-row: 2;
    grid-column: span 2;
    height: 100%;
}

main form .submit { 
    grid-column: 2;
    grid-row: 1;
}